# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
car-shop

# Test binary
*.test

# Output of the go coverage tool
*.out

# Environment variables
.env

# Database
*.db
*.db-shm
*.db-wal

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
